
@{
    ViewBag.Title = "Index";
}

<h2>Result</h2>


@foreach(var p in ViewBag.result)
{
    <p>@p</p>
}

@Html.ActionLink("More...", "GetExampleSource", "Student", new { title = "View course details" })
